:root {
    --my-purple: #292f78;
    --my-red: #ae4029;
    --my-grey: #f1f2f2;
}

* {
    font-family: opensans;
}

/* reset */
body {
    background-color: var(--my-grey);
    position: relative;
}

.nav-link.active {
    background-color: var(--my-purple) !important;
}

.btn-danger {
    background-color: var(--my-red) !important;
    border: none;
    color: white;
}

.btn-outline-danger {
    border: 1px solid var(--my-red);
    color: var(--my-red);
}

.btn-outline-danger:hover {
    background-color: var(--my-red);
}

.btn-primary {
    background-color: var(--my-purple);
    border: none;
    color: white;
}

/* class style */
.text-purple {
    color: var(--my-purple);
}

.bg-purple {
    background-color: var(--my-purple);
}

.mt-150 {
    margin-top: 150px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.hr-60 {
    margin-block: 60px;
}

.hr-80 {
    margin-block: 80px;
}

.bg-red {
    background-color: var(--my-red);
}

.text-red {
    color: var(--my-red);
}

.just-mobile {
    display: none;
}

.fs-12 {
    font-size: 12px;
}

/* component style */
.bottom-nav {
    height: 150%;
    background-color: var(--my-purple);
    position: absolute;
    top: 0;
    z-index: -1;
}

.float-button .btn-group,
.float-button .btn-group-vertical {
    box-shadow: 0 0 20px #ffffff5d;
}

.float-button.just-mobile {
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    left: 0;
    right: 0;
}

.float-button.just-desktop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.my-jumbotron .bg-purple {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* responsive */
@media screen and (max-width:991px) {
    h1 {
        font-size: 25px !important;
    }

    .card-title {
        font-size: 25px !important;
    }

    .mt-150 {
        margin-top: 100px;
    }

    .just-desktop {
        display: none !important;
    }

    .just-mobile {
        display: block;
    }

    .bottom-nav {
        height: 135%;
    }

    p.just-mobile {
        font-size: 10px;
    }
}

/* fonts */
@font-face {
    font-family: opensans;
    src: url(../assets/font/OpenSans-VariableFont_wdth\,wght.ttf);
}

footer a {
    color: white;
    text-decoration: none;
}