:root {
    --my-purple: #292f78;
    --my-red: #ae4029;
    --my-grey: #f1f2f2;
}

/* reset */
body {
    background-color: var(--my-grey);
}

.nav-link.active {
    background-color: var(--my-purple) !important;
}

.btn-danger {
    background-color: var(--my-red) !important;
    border: none;
    color: white;
}

.btn-outline-danger {
    border: 1px solid var(--my-red);
    color: var(--my-red);
}

.btn-outline-danger:hover {
    background-color: var(--my-red);
}

.btn-primary {
    background-color: var(--my-purple);
    border: none;
    color: white;
}

/* class style */
.text-purple {
    color: var(--my-purple);
}

.bg-purple {
    background-color: var(--my-purple);
}

.bg-red {
    background-color: var(--my-red);
}

.text-red {
    color: var(--my-red);
}

.just-mobile {
    display: none;
}

.fs-12 {
    font-size: 12px;
}

/* component style */
.bottom-nav {
    height: 150%;
    background-color: var(--my-purple);
    position: absolute;
    top: 0;
    z-index: -1;
}

/* responsive */
@media screen and (max-width:991px) {
    .just-desktop {
        display: none !important;
    }

    .just-mobile {
        display: block;
    }

    .bottom-nav {
        height: 135%;
    }

    p.just-mobile {
        font-size: 10px;
    }
}