/* shared aboout-component */
h2 {
    font-size: 35px;
}

.btn-cta {
    padding-block: 13px;
    padding-inline: 17px;
    height: fit-content;
}

.btn-cta span {
    font-size: 12px;
}

.section-container {
    padding-inline: 5vw;
    max-width: 1230px;
    margin-inline: auto;
}

.jumbotron-banner {
    padding-block: 30px;
    padding-inline: 78px;
}

.my-jumbotron .subtitle {
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 700;
}

.my-jumbotron .title {
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
}


.pill-navigation {
    margin-block: 40px;
}

/* end shared */


/* section director message */
.card-message {
    border-radius: 10px;
    overflow: hidden;
}

.card-message .card-content {
    padding: 40px;
    background-color: var(--my-purple);
}

.card-message .card-author {
    padding: 21px 40px;
    background-color: white;
    color: var(--my-red);
}

/* end section director message */

/* section leaders */
.card-leader {
    width: 318px;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    position: relative;
    padding: 19px;
}

.card-leader .role {
    margin-bottom: 30px;
}

.card-leader .role .jabatan,
.card-leader .role .location {
    font-size: 11px;
    margin-bottom: 0;
}

.card-leader .card-content {
    width: 70%;
}

.card-leader .card-image {
    position: absolute;
    right: 0;
    bottom: 0;
}

.card-leader .jabatan {
    font-size: 11px;
    line-height: 16px;
}

.card-leader .read-more {
    color: white;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 10px;
}

.card-leader .arrow-readmore {
    width: 10px;
    margin-left: 3px;
    display: inline-block;
}

/* end leaders */

/* section principal & curriculum */
.slick-leader {
    margin-bottom: 13px;
}

.slick-leader .card-leader {
    margin-right: 11px;
}

.nav-pills .nav-link.active {
    background-color: var(--my-red) !important;
}

/* mobile */
@media screen and (max-width:991px) {

    /* shared about-component */
    h2 {
        font-size: 25px;
    }

    h6 {
        font-size: 14px;
    }

    .section-container {
        padding-inline: 25px;
    }

    .mt-80 {
        margin-top: 60px;
    }

    .jumbotron-banner {
        padding-inline: 25px !important;
        padding-block: 17px !important;
    }

    .my-jumbotron .subtitle {
        margin-bottom: 14px;
        font-size: 14px;
    }

    .my-jumbotron .title {
        font-size: 16px;
    }

    .pill-navigation {
        margin-block: 20px;
    }

    /* end shared-component */

    .card-message .card-content {
        background-color: transparent;
        padding: 0px;
        padding-bottom: 30px;
    }

    .card-message .card-author {
        background-color: transparent;
        padding: 0;
    }

    .card-message p {
        color: black;
    }

    /* leader section */
    .card-leader {
        width: 100%;
        max-width: 284px;
    }

    .slick-leader {
        margin-right: -25px;
    }
}

/* reset bootstrap */
.btn-group.btn-tab-principal .btn.active {
    background-color: var(--my-purple);
    color: white;
}

.btn-group.btn-tab-principal {
    width: 100%;
    max-width: 306px;
}

.btn-group.btn-tab-principal .btn {
    border-color: var(--my-purple);
    color: var(--my-purple);
}

.btn-group.btn-tab-principal .btn:hover {
    background-color: var(--my-purple);
    color: white;
}