.my-jumbotron h2 {
    font-weight: lighter;
}

#about-sampoerna-academy h2 {
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

#about-sampoerna-academy .about-academy-content {
    display: flex;
}

#about-sampoerna-academy .about-academy-content img {
    width: 396px !important;
    height: 473px;
    margin-right: 50px;
}

/* mobile */
@media screen and (max-width:991px) {
    .my-jumbotron h5 {
        font-size: 14px;
    }

    .my-jumbotron h2 {
        font-size: 16px;
    }

    .core-belief .card {
        padding: 0 !important;
        background-color: transparent;
    }
}