/* global */
h2 {
    font-size: 35px;
}

.btn-cta {
    padding-block: 13px;
    padding-inline: 17px;
    height: fit-content;
}

.btn-cta span {
    font-size: 12px;
}

.section-container {
    padding-inline: 5vw;
    max-width: 1230px;
    margin-inline: auto;
}


/* end global */



.jumbotron-banner {
    padding-block: 30px;
    padding-inline: 78px;
}

.my-jumbotron .subtitle {
    margin-bottom: 10px;
}

.my-jumbotron .title {
    font-size: 30px;
}


.pill-navigation {
    margin-block: 40px;
}



.person-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.nav-pills .nav-link.active {
    background-color: var(--my-red) !important;
}

/* mobile */
@media screen and (max-width:991px) {
    .card-message {
        background-color: transparent;
    }

    .card-message .card-body {
        padding-inline: 0;
        padding-block: 15px !important;
    }

    .card-message .card-footer {
        padding: 0 !important;
        background-color: transparent !important;
    }

    .card-message p {
        color: black;
    }
}