#academy-student-card {
    display: flex;
    height: 367px;
}

#academy-student-card>div {
    padding: 30px 40px;
}

#academy-student-card>div:first-child {
    width: 400px;
    text-align: center;
    background-color: var(--my-purple);
    border-radius: 10px;
    z-index: 20;
}

#academy-student-card>div:last-child {
    background-color: white;
    padding-left: 50px;
    margin-left: -10px;
    width: 100%;
    border-radius: 0 10px 10px 0;
}

#academy-student-card h5 {
    font-size: 20px;
}

#academy-student-card p {
    font-size: 40px;
}


.staff-faculty-list {
    display: flex;
    color: var(--my-purple);
    justify-content: space-between;
    text-align: center;
    font-size: 18px;
}

.staff-faculty-card {
    width: 227px;
    height: 227px;
    border-radius: 1000px;
    background-color: white;
}

.staff-faculty-card img {
    margin: 35px auto 10px;
}

.staff-faculty-card b {
    font-weight: 700;
    font-size: 27px;
}

.technology-list {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    color: white;
}


.technology-card {
    position: relative;
    display: grid;
    place-items: center;
    background-color: var(--my-purple);
    width: 323px;
    height: 224px;
    text-align: center;
    padding-bottom: 30px;
    border-radius: 10px;
}

.technology-card>div:first-child {
    position: absolute;
    display: grid;
    place-items: center;
    width: 176px;
    height: 150px;
    top: -50px;
    border-radius: 10px;
}

.technology-card>div:last-child {
    padding-top: 105px;
}

.technology-card b {
    font-weight: 700;
    font-size: 40px;
}

.technology-card p {
    font-size: 30px;
    font-weight: 400px;
}

#number-of-languanges-spoken .container {
    display: flex;
    justify-content: space-between;
}



#number-of-languanges-spoken .container div:first-child .btn-light {
    width: 259px;
    height: 70;
    font-size: 30px;
    font-weight: 400;
    color: var(--my-purple);
}

#number-of-languanges-spoken-lists {
    display: flex;
    justify-content: space-between;
}

#number-of-languanges-spoken-lists ul,
#university-acceptance-lists ul {
    list-style-type: disc;
    margin-left: 20px;
}

#number-of-languanges-spoken-lists li {
    margin-bottom: 10px;
}

#sampoerna-academy-superiority-list {
    display: flex;
    justify-content: center;
}

.sampoerna-academy-superiority-card {
    position: relative;
    width: 231px;
    overflow: hidden;
    border-radius: 10px;
    height: 515px;
    background-color: var(--my-purple);
    color: white;
    text-align: center;
}

.sampoerna-academy-superiority-card img:first-child {
    position: absolute;
    left: 90px;
    top: 20px;
    width: 50px;
    height: 50px;
}



.sampoerna-academy-superiority-card img {
    height: 306px;
    width: 100%;
}

.sampoerna-academy-superiority-card b {
font-weight: 700;
font-size: 27.91px;
}

.sampoerna-academy-superiority-card p {
    font-weight: 400;
    font-size: 17.54px;
}

#sampoerna-academy-achievements {
    overflow: hidden;
}

#sampoerna-academy-achievements-list {
    display: flex;
}

.sampoerna-academy-achievements-card {
    width: 896px;
    height: 530px;
    border-radius: 10px;
    background-color: var(--my-purple);
    color: white;
    padding: 30px;
    margin-right: 20px;
}

.sampoerna-academy-achievements-card img {
    width: 816px;
    height: 304px;
}

#wmi-preliminary {
    width: 1009px;
    overflow: hidden;
}

#wmi-preliminary img:first-child {
    height: 100%;
}


#wmi-preliminary h3 {
    font-size: 30px;
}

#wmi-preliminary > div:last-child,
#wmi-preliminary > div:last-child div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#wmi-preliminary > div:last-child  {
    padding: 10px 30px;
    color: white;
    height: 66px;
}

#wmi-preliminary > div:last-child select {
    width: 238px;
    margin-right: 15px;
    background: none;
    color: white;
    height: 38px;
}

#wmi-preliminary-list {
    display: flex;
    justify-content: space-between;
}

.wmi-preliminary-card {
    display: grid;
    place-items: center;
    width: 84px;
    height: 60px;
    border: 1px solid white;
    border-radius: 10px;
}

#wmi  {
    display: grid;
    place-items: center;
}

.wmi-card {
    display: flex;
    width: 322px;
    height: 161px;
    padding: 30px;
    border: 1px solid var(--my-purple);
    border-radius: 10px;
}


.wmi-card .btn {
    height: 28px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: 11px;
}

.wmi-card img {
    width: 73px;
    height: 73px;
}

.wmi-card h3 {
    font-size: 16px;
    color: var(--my-purple);
    font-weight: 700;
}
