.home-card {
    border-radius: 20px;
    height: 100%;
}

.badge-wrapper {
    position: relative;
}

.home-card .badge-wrapper .badge {
    position: absolute;
    top: -39px;
}

.home-card .card-body {
    padding-top: 75px;
    padding-bottom: 55px;
}

.home-card .card-body h3 {
    font-size: 25px;
}

/* section news and event */
.card-news {
    background-color: transparent;
    border: none;
    position: relative;

}

.card-news .icon-arrow {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: -5px;
}

/* faq section */
.my-avatar img:nth-child(1) {
    width: 186px;
    height: 186px;
    position: absolute;
    aspect-ratio: 1;
    left: -50px;
    top: 20px;
}

.my-avatar img:nth-child(2) {
    width: 186px;
    height: 186px;
    aspect-ratio: 1;
    margin-inline: 80px;
    z-index: 9;
}

.my-avatar img:nth-child(3) {
    width: 186px;
    position: absolute;
    height: 186px;
    aspect-ratio: 1;
    right: -50px;
    top: 20px;
}

.header-home {
    height: 130px;
}

.header-home p {
    margin-bottom: 3px;
}

.header-image {
    height: 600px;
    object-fit: cover;
}

.mask {
    background: linear-gradient(to top, black, transparent);
    height: 280px;
    position: absolute;
    bottom: 0;
}

/* header carousel */
.wraper-carousel {
    position: absolute;
    bottom: 80px;
}

.slick-dots li button:before {
    font-size: 13px;
    border: 1px solid white;
    border-radius: 50%;
}

.slick-dots {
    display: flex;
}

.slick-dots li.slick-active button:before,
.slick-dots li:hover button::before{
    color: var(--my-red);
    opacity: 1;
}

.slick-nav .slick-prev:before,
.slick-nav .slick-next:before {
    color: var(--my-purple);
    font-size: 35px;
}

.slick-nav {
    right: 300px !important;
}

.dot-pos {
    position: absolute;
    bottom: 303px;
    left: 52px;
}

.arr-pos {
    position: absolute;
    right: 0;
    bottom: 160px;
    right: 190px;
    width: 50px;
}

.arr-pos > button::before {
    content: none;
}

.arr-pos > button.slick-prev {
    margin-left: -40px;
}

.arr-pos > button.slick-prev:hover,
.arr-pos > button.slick-next:hover {
background-color: rgba(255, 255, 255, .3);
transition: .3s;
}

.arr-pos > button.slick-prev,
.arr-pos > button.slick-next {
    width: 58px;
    height: 58px;
    border: 1px solid white;
    border-radius: 1000px;
transition: .3s;
}



.arr-pos > button.slick-prev::after {
    content: url('../../assets/icon/arrow-left.svg');
    position: absolute;
    right: 20px;
    top: 20px;
}

.arr-pos > button.slick-next::after {
    content: url('../../assets/icon/arrow-right.svg');
    position: absolute;
    right: 20px;
    top: 20px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
}



/* desktop */
@media screen and (min-width:992px) {
    .slick-respon .card {
        margin-right: 15px;
    }
}

/* mobile */
@media screen and (max-width:991px) {
   
    .just-desktop {
        display: none;
    }


    .card-academy {
        margin-bottom: 65px;

    .navbar {
        padding: 15px 20px;
    }

    .arr-pos > button.slick-prev {
        margin-left: -80px;

    }

    .slick-nav {
        right: 57px !important;
    }

    .slick-nav .slick-prev:before,
    .slick-nav .slick-next:before {
        color: var(--my-purple);
        font-size: 25px;
    }

    .arr-pos {
        position: absolute;
        width: 5px;
        right: 55px;
        bottom: 12px;
    }

    .dot-pos {
        position: absolute;
        top: 22px;
        left: 9px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 30px;
    }

    /* header */
    .header-home {
        height: 120px;
    }

    .text-carousel {
        font-size: 16px;
    }

    .wraper-carousel {
        bottom: 150px;
        padding-inline: 15px !important;
    }

    .nav-carousel {
        bottom: 97px;
        position: absolute;
    }

    /* end */

    .card-news {
        background-color: #D9D9D9;
        padding: 20px 15px;
    }

    .card-news .icon-arrow {
        top: 25px;
        right: 25px;
    }

    /* faq section */
    .my-avatar img {
        width: 100px !important;
        height: 100px !important;
    }

    .my-avatar img:nth-child(2) {
        margin-inline: 15px;
    }
}