.home-card {
    border-radius: 20px;
    height: 100%;
}

.badge-wrapper {
    position: relative;
}

.home-card .badge-wrapper .badge {
    position: absolute;
    top: -39px;
}

.home-card .card-body {
    padding-top: 75px;
    padding-bottom: 55px;
}

.home-card .card-body h3 {
    font-size: 25px;
}

/* section news and event */
.card-news {
    background-color: transparent;
    border: none;
    position: relative;

}

.card-news .icon-arrow {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -5px;
    right: -5px;
}

/* faq section */
.my-avatar img:nth-child(1) {
    width: 186px;
    height: 186px;
    position: absolute;
    aspect-ratio: 1;
    left: -50px;
    top: 20px;
}

.my-avatar img:nth-child(2) {
    width: 186px;
    height: 186px;
    aspect-ratio: 1;
    margin-inline: 80px;
    z-index: 9;
}

.my-avatar img:nth-child(3) {
    width: 186px;
    position: absolute;
    height: 186px;
    aspect-ratio: 1;
    right: -50px;
    top: 20px;
}

.header-home {
    height: 130px;
}

.header-home p {
    margin-bottom: 3px;
}

.header-image {
    width: 100%;
    height: 434px;
    /* object-fit: cover; */
}

.mask {
    background: linear-gradient(to top, black, transparent);
    height: 280px;
    position: absolute;
    bottom: 0;
}

/* header carousel */
.wraper-carousel {
    position: absolute;
    bottom: 80px;
}

.slick-dots li button:before {
    font-size: 13px;
    border: 1px solid white;
    border-radius: 50%;
}

.slick-dots {
    display: flex;
}

.slick-dots li.slick-active button:before,
.slick-dots li:hover button::before {
    color: var(--my-red);
    opacity: 1;
}

.slick-nav .slick-prev:before,
.slick-nav .slick-next:before {
    color: var(--my-purple);
    font-size: 35px;
}

.slick-nav {
    right: 300px !important;
}

.dot-pos {
    position: absolute;
    bottom: 170px;
    left: 33px;
}

.arr-pos {
    position: absolute;
    right: 0;
    bottom: 160px;
    right: 190px;
    width: 50px;
}

.arr-pos>button::before {
    content: none;
}

.arr-pos>button.slick-prev {
    margin-left: -40px;
}

.arr-pos>button.slick-prev:hover,
.arr-pos>button.slick-next:hover {
    background-color: rgba(255, 255, 255, .3);
    transition: .3s;
}

.arr-pos>button.slick-prev,
.arr-pos>button.slick-next {
    width: 58px;
    height: 58px;
    border: 1px solid white;
    border-radius: 1000px;
    transition: .3s;
}


.arr-pos>button.slick-prev::after {
    content: url('../../assets/icon/arrow-left.svg');
    position: absolute;
    right: 20px;
    top: 20px;
}

.arr-pos>button.slick-next::after {
    content: url('../../assets/icon/arrow-right.svg');
    position: absolute;
    right: 20px;
    top: 20px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 50px;
}

.card-title {
    font-size: 35px;
}


.accordion-button {
    gap: 80px;
}

.accordion-button svg {
    margin-left: 50px;
}

.accordion-body {
    padding-left: 153px !important;
    margin-left: 19px;
}

.accordion-button.collapsed {
    color: var(--my-red);
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../../assets/icon/chevrondown.svg) !important;
}

.accordion-button.collapsed .stroke2,
.accordion-button.collapsed .stroke1,
.accordion-button.collapsed .stroke3 {
    stroke: var(--my-red) !important;
}

.accordion-button::after {
    background-image: url(../../assets/icon/chevrondown.svg);
}

.card-academy>div {
    height: 445px;
}

.see-more {
    padding-inline: 16px;
    padding-block: 12px;
}

.read-more {
    padding: 13px, 20px, 13px, 20px;
}

.btn-contact-us {
    width: 192px;
    padding: 12px 20px;
}


.slick-respon,
.slick-respon2,
.slick-customer {
    margin-left: 0 !important;
}

.slick-respon .slick-dots,
.slick-respon2 .slick-dots,
.slick-customer .slick-dots {
    bottom: -70px;
    left: 200px;
}

.slick-respon .slick-dots button::before,
.slick-respon2 .slick-dots button::before,
.slick-customer .slick-dots button::before {
    color: var(--my-purple) !important;
}

.slick-resp-nav .slick-prev,
.slick-resp-nav .slick-next,
.slick-resp2-nav .slick-prev,
.slick-resp2-nav .slick-next,
.slick-customer-nav .slick-prev,
.slick-customer-nav .slick-next {
    top: 33px;
}

.slick-resp-nav .slick-prev,
.slick-resp2-nav .slick-prev,
.slick-customer-nav .slick-prev {
    bottom: -132px;
}

.slick-resp-nav .slick-prev::before,
.slick-resp2-nav .slick-prev::before,
.slick-customer-nav .slick-prev::before {
    content: url('../../assets/icon/arrow-left-purple.svg');
    position: absolute;
    left: 10px !important;
    bottom: 2000px !important;
}

.slick-resp-nav .slick-next::before,
.slick-resp2-nav .slick-next::before,
.slick-customer-nav .slick-next::before {
    content: url('../../assets/icon/arrow-right-purple.svg');
    position: absolute;
    left: 10px !important;
    top: -1000px !important;
}

.slick-resp-nav .slick-prev::before,
.slick-resp-nav .slick-next::before,
.slick-resp2-nav .slick-prev::before,
.slick-resp2-nav .slick-next::before,
.slick-customer-nav .slick-prev::before,
.slick-customer-nav .slick-next::before {
    position: absolute;
    left: 15px;
    top: 0 !important;
}

.slick-resp-nav .slick-disabled,
.slick-resp2-nav .slick-disabled ,
.slick-customer-nav .slick-disabled {
    opacity: .6;
}

.slick-resp-nav .slick-prev,
.slick-resp2-nav .slick-prev,
.slick-customer-nav .slick-prev {
    margin-left: -8px;
}

#academy-highlights .row {
    margin-inline: -50px !important;
}

#grade-at-sampoerna .slick-respon,
#campuses .slick-respon2,
#customer .slick-customer {
    margin-inline: -38px !important;
}

.title-section {
    z-index: 10 !important;
}

#grade-at-sampoerna .slick-list,
#campuses .slick-list {
    overflow: visible;
}


.background-left-overflow-hidden {
    background-color: var(--my-grey);
    height: 100%;
    min-width: 850px;
    width: 10000px;
    position: absolute;
    z-index: 3;
    left: 0;
    transform: translateX(-100.27%);
    bottom: 0;
}



/* desktop */
@media screen and (max-width:992px) {
    /* .slick-respon .card {
        margin-right: 15px;
    } */

    .header-home {
        height: 150px !important;
        padding-bottom: 10px;
    }

    .background-left-overflow-hidden {
        transform: translateX(-1200%);

    }

}

/* desktop 14inch */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    /* .container {
        padding-inline: 70px;
    } */

    .margin-minus {
        margin-inline: -50px;
    }

    /* 
    .slick-respon,
    .slick-respon2 {
        margin-left: 55px !important;
    } */
}

.slick-respon .card {
    width: 1008px;
    height: 390px;
    border: none;
    border-radius: 13.8px !important;
    outline: none;
}

.slick-respon .card .grade-img {
    width: 451.166px;
    height: 305px;
    object-fit: cover;
    border-radius: 8px !important;
}

.slick-respon .card .row>div:last-child>.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 45px 59px 61px 80px;
}

.slick-respon .card .row>div:last-child>.card-body a {
    padding: 12.9px 20px;
    border-radius: 8.7px;
}

.slick-respon2 .card {
    width: 1008px !important;
    border-radius: 9.2px;
    height: 504px !important;
}

.slick-respon2 .card .card-img-top {
    height: 255px !important;
    object-fit: cover;
}

.slick-respon2 .card .row>div:first-child {
    margin-bottom: 20px;
}

.slick-respon2 .card .card-body {
    padding: 45px 50px !important;
}

.slick-respon2 .card .card-body p {
    width: 642.971px;
    font-size: 16px !important;
}

#school-calendar .btn-danger {
    width: 339px;
    text-align: left;
}

.card-container {
    position: relative;
    background-color: #fff;
    padding: 25px;
    border-radius: 18px;
    margin-right: 20px;
    width: 530px;
}

.image-container .image-quote {
    position: absolute;
    top: 50px;
    left: 250px;
    transform: translateX(70%);
}

.card-container img:first-child {
    object-fit: cover;
    border-radius: 11px;
    width: 257px;
}

.card-container .text-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
}

.card-container .text-container .testimony-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #101828;
}

.card-container .text-container .customer-name {
    font-weight: 700;
    font-size: 11.2729px;
    line-height: 150%;
    color: #090914;
}

/* desktop keatas */
@media screen and (min-width: 1024px) {
    .l-padding {
        padding: 35px 0 35px 40px;
    }
}

/* mobile */
@media screen and (max-width:991px) {
    .card-container {
        padding: 0;
        width: 252.83px;
    }
    .card-container img:first-child {
        width: 100%;
    }

    .card-container .text-container {
        padding: 20px;
    }

    .image-container .image-quote {
        left: 80px !important;
        top: 190px;
    }

    .slick-respon .card {
        overflow: hidden;
        width: 400px;
        height: 588px;
        padding: 0;
    }

    .slick-respon .card .row>div:last-child>.card-body {
        padding: 20px;
    }

    .slick-respon .card .row>div:last-child>.card-body h3 {
        height: 40px;
    }

    .slick-respon .card .row>div:last-child>.card-body small {
        height: 68px;
    }

    .slick-respon .card .row>div:last-child>.card-body a {
        margin-top: 30px !important;
    }

    .slick-respon .card .grade-img {
        width: 100%;
        margin: 0;
    }

    .slick-respon2 .card {
        width: 335px !important;
    }

    .slick-respon2 .card .card-body {
        padding: 40px 30px !important;
    }

    .slick-respon2 .card .card-img-top {
        height: 154px !important;
    }


    .slick-respon2 .card .card-body .row>div:last-child {
        flex-direction: column !important;
        justify-content: flex-start !important;
        padding: 0;
    }

    .slick-respon2 .card .card-body .card-title {
        margin-left: -10px !important;
    }

    .slick-respon2 .card .card-body p {
        width: 288px;
        font-size: 15px !important;
        margin-bottom: 40px !important;
        padding: 0;
    }

    .slick-respon2 .card .card-body .row>div:last-child {
        align-items: flex-start !important;
        justify-content: space-between !important;
        height: 200px !important;
    }

    #grade-at-sampoerna .slick-list,
    #campuses .slick-list {
        overflow: hidden;
    }

    #academy-highlights .row {
        margin-inline: 0 !important;
    }

    #grade-at-sampoerna .slick-respon,
    #campuses .slick-respon2,
    #customer .slick-customer {
        margin-inline: 0 !important;
    }

    .slick-respon .slick-dots,
    .slick-respon2 .slick-dots,
    .slick-customer .slick-dots {
        left: 0;
    }

    .slick-resp-nav .slick-prev::before,
    .slick-resp-nav .slick-next::before,
    .slick-resp2-nav .slick-prev::before,
    .slick-resp2-nav .slick-next::before,
    .slick-customer-nav .slick-prev::before,
    .slick-customer-nav .slick-next::before {
        left: -20px !important;
    }


    .accordion-button {
        gap: 15px;
    }

    .accordion-button span {
        width: 192px;
    }

    .accordion-button::after {
        width: 14px;
        height: 14px;
        background-size: cover;
    }

    .accordion-body {
        padding-left: 3rem !important;
    }

    .accordion-button svg {
        margin-left: 0;
        width: 25px !important;
        height: 25px !important;
    }

    .arr-pos {
        right: 50px;
        bottom: 210px;
    }

    .just-desktop {
        display: none;
    }

    /* .slick-respon,
    .slick-respon2 {
        margin-left: 25px !important;
    } */

    .nav-carousel {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .nav-carousel .dot-pos {
        margin-top: 30px;
    }

    .arr-pos {
        bottom: 10px;
        right: 50px;
    }

    .nav-carousel {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-academy {
        margin-bottom: 65px;
    }

    .navbar {
        padding: 15px 20px;
    }


    .arr-pos>button.slick-prev {
        margin-left: -30px;

    }

    .slick-nav {
        right: 57px !important;
    }

    .slick-nav .slick-prev:before,
    .slick-nav .slick-next:before {
        color: var(--my-purple);
        font-size: 25px;
    }



    .dot-pos {
        position: absolute;
        top: 22px;
        left: 9px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 30px;
    }

    /* header */
    .header-home {
        height: 120px;
    }

    .text-carousel {
        font-size: 16px;
    }

    .wraper-carousel {
        bottom: 150px;
        padding-inline: 15px !important;
    }

    .nav-carousel {
        bottom: 97px;
        position: absolute;
    }

    /* end */

    .card-news {
        background-color: #D9D9D9;
        padding: 20px 15px;
    }

    .card-news .icon-arrow {
        top: 25px;
        right: 25px;
    }

    /* faq section */
    .my-avatar img {
        width: 100px !important;
        height: 100px !important;
    }

    .my-avatar img:nth-child(2) {
        margin-inline: 15px;
    }
}