#steam-gallery-list li {
    width: 32%;
    height: 259px;
    margin-right: 20px;
}

#steam-gallery-list li img {
    height: 162px;
}

#www .btn-primary {
    width: 215px;
    text-align: left;
    padding-left: 25px;
}